SECRET_KEY="dev-insecure-secret-key"
POSTGRES_USER=cardcase
POSTGRES_PASSWORD=cardcase
POSTGRES_DB=cardcase
DATABASE_URL=postgres://cardcase:cardcase@localhost:5432/cardcase
ALLOW_SIGNUP=False
FRONTEND_URL=http://localhost:3000
