.table {
  table-layout: fixed;
}

.date {
  width: 130px;
}

.account {
  width: 180px;
}

.accountType {
  width: 130px;
}

.description {
  overflow-wrap: anywhere;
}

.amount {
  width: 120px;
  text-align: right;
  font-variant-numeric: tabular-nums;
}

.newTransactionRow {
  background-color: var(--mantine-primary-color-light);
}
